@model List<WebContact>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 style="font-size:20px">Site Eleştirileri</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr style="background-color:aqua">
                        <th>Ad Soyad</th>
                        <th>Konu</th>
                        <th>İçerik</th>
                        <th>Tarih</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        <tr>
                            <th>@x.NameSurname</th>
                            <td>@x.Subject</td>
                            <td>@x.ContactContent</td>
                            <td>@Convert.ToDateTime(x.ContactDate).ToString("dd/MMM/yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

