<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
            <h1 class="sitename">Evren Blog</h1>
        </a>
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/Showcase/Default/Index/">Ana Sayfa</a></li>
                <li><a href="/Showcase/Blog/Index/">Bloglar</a></li>
                <li><a href="/Showcase/Contact/Index/"class="active">İletişim</a></li>
                <li><a href="/Showcase/About/Index/">Hakkımızda</a></li>
                <li><a href="/Login/Index/">Giriş Yapın</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        <div class="header-social-links">
            <a href="https://x.com/rkrtl58" class="twitter"><i class="bi bi-twitter-x"></i></a>
            <a href="https://www.instagram.com" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/in/ramazan-kartal-76919821a/" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>
</header>
