@model Message
@{
    ViewData["Title"] = "MessageContent";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yeni Mesaj</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/adminweb/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/adminweb/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/adminweb/plugins/summernote/summernote-bs4.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-success card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Mesaj Detayları</h3>
                    </div>
                    <form method="get">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Gönderen:</label>
                                <input style="margin-top:6px" class="form-control" placeholder="Kim:" value="@ViewBag.name" readonly>
                            </div>
                            <div class="form-group">
                                <label>Mesaj İçerik:</label>
                                <input style="margin-top:6px" class="form-control" placeholder="Konu:" name="Subject" value="@Model.Content" readonly>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/adminweb/dist/js/demo.js"></script>
    <script src="~/adminweb/plugins/summernote/summernote-bs4.min.js"></script>
    <script>
        $(function () {
            //Add text editor
            $('#compose-textarea').summernote()
        })
    </script>
</body>
</html>


