@model List<Announcement>
<li class="nav-item dropdown">
   
    <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge">3</span>
    </a>
   
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">@ViewBag.c Duyurunuz Var</span>
        @foreach (var x in Model)
        {
        <div class="dropdown-divider"></div>
        <a href="/Announcement/ContentAnnouncement/@x.Id" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i>Konu: @x.Subject 
            <span class="float-right text-muted text-sm"></span>
        </a>
        <div class="dropdown-divider"></div>
        }
        <a href="/Announcement/Index/" class="dropdown-item dropdown-footer">Tüm Duyurular</a>
    </div>
</li>